@charset "utf-8";
@import url(tenda/font.css);
@import url(pretendard/font.css);
@import url(roboto/font.css);


:root{
    /* Color */
    --black: #000;
    --red: #D30438;
    
    --danger: #EB053B;
    --warning: #A16B00;
    --success: #006E19;
    --information: #0075D2;
}

.greenTheme{
    --primary: #24883E !important;
    --second: #006027 !important;
    --pressed: #006027 !important;
    --hover: #16702D !important;
    --disabled: #E8EFEA !important
}

.purpleTheme{
    --primary: #AC29E9 !important;
    --second: #7C1DA8 !important;
    --pressed: #7C1DA8 !important;
    --hover: #9822CF !important;
    --disabled: #F4EDF6 !important
}

.blueTheme{
    --primary: #2F59CC !important;
    --second: #193C9B !important;
    --pressed: #193C9B !important;
    --hover: #2850C1 !important;
    --disabled: #E9F1FB !important
}

.orangeTheme{
    --primary: #FB8D01 !important;
    --second: #EF6D00 !important;
    --pressed: #E65200 !important;
    --hover: #F57D01 !important;
    --disabled: #F8ECE0 !important
}


/*** Reset ***/
*{box-sizing:border-box;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{
    margin:0;padding:0;
    color:#212736;font-family:'Pretendard', sans-serif;font-size:16px;font-weight:500;line-height:1.5;
    font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;
}
em {font-style: normal;}
b, span, strong, input, a, button{font-size:inherit;font-family:inherit;color:inherit;font-weight:inherit;}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite{display:inline}
html, body {height:100%;}
body {overflow-x:hidden;margin:0px;}
a:link {text-decoration:none;} 
a:visited {text-decoration:none;}
img{border:0;max-width:100%}
b, strong, span, em, i {font-size: inherit;}
label, input, textarea, select{vertical-align:middle}
ol, ul{list-style:none;}
table{border-collapse:collapse;table-layout:fixed;}
fieldset{border:none}
.skip, hr, legend{position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button{margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;}
b {font-weight:500}
input{border-radius:0;appearance:none;-webkit-border-radius:0;-webkit-appearance:none}
input[type=text]::-ms-clear{display: none;}
a[href^="tel"], a[href^="mailto"] {
    color: inherit; /* 링크의 색상을 부모 요소의 색상으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}
/*** Layout ***/
.alt_hidden, legend {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}
caption>p, caption>strong, .scHdn, .screen_out, .hidden {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden;clip:rect(0, 0, 0, 0)}


#dim,
#gnb_dim {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0;}
#dim.on {display:block;visibility:visible;opacity:0.5;z-index:1300;}
#gnb_dim.on {display:block;visibility:visible;opacity:0.5;z-index:901;}

#skip_menu a{position:absolute;display:block;opacity:0;}
#skip_menu a:focus{padding:10px;background:#000;font-size:15px;color:#fff;opacity:1;z-index:2000}

/*** style_guide ***/

/* textColor */
.kA{word-break:keep-all !important;}

.inB {display:inline-block;vertical-align: top;}
.mbBr {display:none;}

/*weight*/
.wB{font-weight:bold !important;}
.wM{font-weight:600 !important;}
.wN{font-weight:400 !important;}

/* Headline */
.headLine1 {display:block;width:100%;font-size:40px;font-weight:bold;letter-spacing:0;line-height:150%;}
.headLine2 {display:block;width:100%;font-size:32px;font-weight:bold;letter-spacing:0;line-height:150%;}
.headLine3 {display:block;width:100%;font-size:30px;font-weight:bold;letter-spacing:0;line-height:150%;}

/* Title */
.contTit1 {display:block;width:100%;font-size:24px;font-weight:bold;letter-spacing:0;line-height:150%;}
.contTit2 {display:block;width:100%;font-size:18px;font-weight:bold;letter-spacing:0;line-height:150%;}
.contTit3 {display:block;width:100%;font-size:14px;font-weight:bold;letter-spacing:0;line-height:150%;}

.pageTitleArea{position:relative;margin-top:29px;margin-bottom:30px;display:flex;justify-content:space-between;align-items:flex-end;}
.pageTitleArea .utilBtn{flex-shrink:0;font-size:0;margin-right:-4px;}
.pageTitleArea .utilBtn .baseBtn{margin:4px;}
.pageTitleArea .utilBtn>*{display:inline-block;vertical-align:top;}
.pageTit{position:relative;display:block;font-size:32px;line-height:40px;font-weight:800;}
.pageTitleArea .txtEx{margin-top:20px;}

/* 글자 조정 */
.pageTitleArea .utilBtn .fontSizeArea{font-size:0;}
.pageTitleArea .utilBtn [data-id=fontSize]{position:relative;}
.pageTitleArea .utilBtn [data-id=fontSize].open::before{content:"";position:absolute;left:50%;top:calc(100% + 9px);width:15px;height:9px;background:url(../img/common/icon_sizeBoxArrow.png) no-repeat center center/100% auto;transform:translate(-50%,0);z-index:6;}
.pageTitleArea .utilBtn .sizeBox {display:none;position:absolute;right:0;margin-top:12px;padding:20px;background:#fff;border-radius:8px;border:1px solid #D4D8E3;z-index:5;}
.pageTitleArea .utilBtn .sizeBox .btn_close {position:absolute;top:24px;right:24px;display:block;width:14px;height:14px;}
.pageTitleArea .utilBtn .sizeBox .btn_close::before{content:"";position:absolute;left:0;top:50%;display:block;width:100%;height:1px;background-color:#212736;transform:translate(0, -50%) rotate(45deg);}
.pageTitleArea .utilBtn .sizeBox .btn_close::after {content:"";position:absolute;left:0;top:50%;display:block;width:100%;height:1px;background-color:#212736;transform:translate(0, -50%) rotate(-45deg);}

.pageTitleArea .utilBtn .sizeBox>.tit {margin-bottom:20px;font-size:16px;font-weight:500;color:#212736;}
.pageTitleArea .utilBtn .sizeBox ul {position:relative;display:flex;justify-content: space-between;width:288px;}
.pageTitleArea .utilBtn .sizeBox ul:before {content:'';position:absolute;left:0;top:15px;display:block;width:calc(100% - 10px);height:6px;background:#E9E9E9;}
.pageTitleArea .utilBtn .sizeBox ul>li {position:relative;padding-bottom: 20px;}
.pageTitleArea .utilBtn .sizeBox ul>li:nth-child(n+4) .txt {width:calc(100% + 30px);margin-left:-15px;}
.pageTitleArea .utilBtn .sizeBox ul>li span {display:block;}
.pageTitleArea .utilBtn .sizeBox ul>li .btn_plus {display:block;}
.pageTitleArea .utilBtn .sizeBox ul>li .ico {position:relative;display:flex;justify-content: center;align-items: center;width:32px;height:32px;margin:0 auto;margin-bottom:8px;border:1px solid #D4D8E3;border-radius: 50%;font-size:18px;background:#fff;z-index: 2;transition:.2s all;color:#646A7A;}
.pageTitleArea .utilBtn .sizeBox ul>li .txt {position:absolute;bottom:0;width:100%;font-size:14px;color:#646A7A;transition:.2s all;}
.pageTitleArea .utilBtn .sizeBox ul>li.lv1 .ico {font-size:12px;}
.pageTitleArea .utilBtn .sizeBox ul>li.lv2 .ico {font-size:15px;}
.pageTitleArea .utilBtn .sizeBox ul>li.lv3 .ico {font-size:15px;}
.pageTitleArea .utilBtn .sizeBox ul>li.lv4 .ico {font-size:18px;}
.pageTitleArea .utilBtn .sizeBox ul>li.lv5 .ico {font-size:21px;}
.pageTitleArea .utilBtn .sizeBox ul>li .btn_plus:hover .ico {background:var(--primary);border-color:var(--primary);color:#fff;}
.pageTitleArea .utilBtn .sizeBox ul>li .btn_plus:hover .txt {color:var(--primary);}
.pageTitleArea .utilBtn .sizeBox ul>li .btn_plus.on .ico {background:var(--primary);border-color:var(--primary);color:#fff;}
.pageTitleArea .utilBtn .sizeBox ul>li .btn_plus.on .txt {color:var(--primary);font-weight:bold;}


/* Body */
.txtBody1{display:block;width:100%;font-size:16px;line-height:150%;letter-spacing:0;}
.txtBody2{display:block;width:100%;font-size:15px;line-height:150%;letter-spacing:0;}
.txtBody3{display:block;width:100%;font-size:14px;line-height:150%;letter-spacing:0;}

/* .txtAlert{display:block;margin-top:8px;width:100%;font-size:16px;line-height:26px;letter-spacing:0;color:#666;padding-left:22px;font-weight:500;background:url(../images/common/icon_exclam_green.svg) no-repeat left 0 top 4px;}
.txtAlert.red {margin-top:16px;background:url(../images/common/ico_exclam_s_red.svg) no-repeat left 0 top 5px !important;font-size: 18px;color:#FF2B23;} */
/* .alert{display:block;margin-top:3px;width:100%;font-size:13px;min-height:16px;letter-spacing:0;color:#666;padding-left:22px;font-weight:500;background:url(../images/common/ico_exclamRed.svg) no-repeat left 0 top 2px;color:#EB053B;} */

.txtEx{font-size:15px;line-height:150%;color:#646A7A;display:block;width:100%;background:url(../img/common/icon_txtEx.svg) no-repeat left top 2px;padding-left:26px;font-weight:500;}
.txtEx>span{font-size:13px;display:inline-block;margin-left:6px;font-weight:normal;}

.txtList{width:100%;height:auto;}
.txtList>li{position:relative;font-size:18px;line-height:150%;letter-spacing:0;}
.txtList>li+li{margin-top:7px;}

.underline {text-decoration: underline !important;}

/*dot*/
.txtList.dot>li{padding-left:10px;}
.txtList.dot>li::before{content:"";position:absolute;left:0;top:11px;display:block;width:3px;height:3px;border-radius:100%;background:var(--primary);}
.txtList.dot>li>.txtList.hyphen{margin-top:6px;margin-bottom:5px;}

.txtList.hyphen>li{padding-left:11px;font-size:16px;line-height: 150%;}
.txtList.hyphen>li::before{content:"";position:absolute;left:0;top:10px;display:block;width:5px;height:1px;background:#000}
.txtList.hyphen>li+li {margin-top:5px;}

.txtList.halfType{font-size:0;}
.txtList.halfType li{width:50%;display:inline-block;vertical-align:top;padding-right:10px;}
.txtList.halfType li:nth-of-type(2){margin-top:0;}

.txtList.bullet>li{padding-left:22px}
.txtList.bullet>li::before{content:attr(data-point);position:absolute;left:0;top:0;display:block;width:20px;height:auto;font-size:inherit;line-height:inherit;}

/*Accordion*/
.AccordionBase{width:100%;height:auto;border-top:2px solid #000}
.AccordionBase>li{position:relative;width:100%;height:auto;border-bottom:1px solid #D1D1D1;transition:background-color 0.2s;}
.AccordionBase>li .AccordionBtn{position:relative;display:block;width:100%;text-align:left;}
.AccordionBase>li .AccordionBtn::before{content:"";width:16px;height:8px;background:url(../images/contents/icon_AccordionBtnArrow.svg) no-repeat center center/100% auto;position:absolute;right:30px;top:35px;transition:all 0.3s;}
.AccordionBase>li.on .AccordionBtn::before{transform:rotate(180deg);background-image:url(../images/contents/icon_AccordionBtnArrow_on.svg?11) !important;}
.AccordionBase>li .AccordionBtn>span{display:flex;font-size:18px;font-weight:bold;line-height:26px;padding:23px 55px 26px 24px;}
.AccordionBase>li.on .AccordionBtn>span{color:var(--primary)}
.AccordionBase>li .AccordionBtn>span:before {content:'Q.';display:inline;font-weight: 700;font-size: 24px;margin-right: 12px;}
.AccordionBase>li .AccordionBtn em {font-style: normal;}
.AccordionBase>li .AccordionTextArea {width:calc(100% - 36px);display:inline-block;vertical-align:top;}
.AccordionBase>li .AccordionCont:before {content:'A.';display:inline-block;font-weight: 700;font-size: 24px;margin-right:12px;width:24px;margin-top:-2px;}
/* .AccordionBase>li .AccordionTextArea .txtBody1,
.AccordionBase>li .AccordionTextArea .txtList{flex:1;} */
.AccordionBase>li .AccordionCont{display:flex;position:relative;padding:26px 24px 26px 24px;display:none;border-top: 1px solid #D1D1D1;font-size:0;}
.AccordionBase>li .AccordionCont .AccordionFileArea{width:100%;border-top:1px solid #D1D1D1;padding-top:22px;margin-top:22px;}
.AccordionBase>li .AccordionCont .AccordionFileArea>.ad_FileDown{display:block;font-size:14px;line-height:20px;}
.AccordionBase>li .AccordionCont .AccordionFileArea>.ad_FileDown>span{position:relative;display:inline-block;text-decoration:underline;}
.AccordionBase>li .AccordionCont .AccordionFileArea>.ad_FileDown + .ad_FileDown{margin-top:5px;}
.AccordionBase>li.on .AccordionCont{background-color:#F2F7FF;}
.AccordionBase>li.on .AccordionBtn>span {color:var(--primary)}

/* button */
.baseBtn{width:auto;height:40px;display:inline-block;}
.baseBtn>.base{display:flex;justify-content:center;align-items:center;color:#fff;width:100%;height:100%;min-width:100px;padding:0 30px;text-align:center;background-color:var(--primary);border-radius:5px;font-size:16px;font-weight:500;transition: .2s background-color, .2s border-color;background-repeat:no-repeat;background-position: left 0 top 50%;}
.baseBtn:active>.base{background-color:var(--pressed);}
.baseBtn.line>.base{color:var(--primary);border:1px solid var(--primary);background-color:#fff;}
.baseBtn:disabled>.base{background-color:var(--disabled) !important;color:#000 !important;border-color:var(--disabled) !important;}
.baseBtn.grayLine>.base{color:#646A7A;border:1px solid #646A7A;background-color:#fff;}
.baseBtn.grayLine:disabled>.base{background-color:#D1D1D1 !important;color:#646A7A !important;border-color:#D1D1D1 !important;}
.baseBtn.gray>.base{background-color:#646A7A !important;}
.baseBtn.gray:disabled>.base{background-color:#D1D1D1 !important;color:#646A7A !important;border-color:#D1D1D1 !important;}
.baseBtn.gray2>.base{background-color:#D1D1D1 !important;color:#646A7A;}

.baseBtn.navy>.base{background-color:#212736 !important;color:#fff;}

.baseBtn>.base>i.plus{position:relative;width:20px;height:20px;display:inline-block;background-color:#fff;border-radius:50%;margin-right:8px;}
.baseBtn>.base>i.plus::before{content:"";position:absolute;left:50%;top:50%;display:block;width:7px;height:1px;background-color:var(--primary);transform:translate(-50%,-50%);}
.baseBtn>.base>i.plus::after{content:"";position:absolute;left:50%;top:50%;display:block;width:7px;height:1px;background-color:var(--primary);transform:translate(-50%,-50%) rotate(90deg);}
.baseBtn.line>.base>i.plus{background-color:var(--primary);}
.baseBtn.line>.base>i.plus::before,
.baseBtn.line>.base>i.plus::after{background-color:#fff;}

.baseBtn.small{height:32px;}
.baseBtn.small>.base{padding:0 14px;font-size:14px;min-width:76px;}

.baseBtn>.base>.down{width:15px;height:13px;display:inline-block;margin-left:7px;background:url(../img/common/icon_down.svg) no-repeat center center;vertical-align:middle;}
.baseBtn>.base>.down.gray{background:url(../img/common/icon_down_gray.svg) no-repeat center center;}
.baseBtn>.base>.rightArrow{width:5px;height:10px;display:inline-block;margin-left:7px;background:url(../img/common/icon_rightArrow.svg) no-repeat center center;vertical-align:middle;}

.plusBtn{position:relative;width:42px;height:42px;display:inline-block;vertical-align:middle;border-radius:50%;background-color:var(--primary);}
.plusBtn::before{content:"";position:absolute;left:50%;top:50%;display:block;width:13px;height:1.5px;background-color:#fff;transform:translate(-50%,-50%);}
.plusBtn::after{content:"";position:absolute;left:50%;top:50%;display:block;width:13px;height:1.5px;background-color:#fff;transform:translate(-50%,-50%) rotate(90deg);}

.plusBtn.line{background-color:#fff;border:1px solid var(--primary)}
.plusBtn.line::before,
.plusBtn.line::after{background-color:var(--primary);}

.btnFileIcon{width:24px;height:24px;background:url(../img/common/icon_file.svg) no-repeat center center; vertical-align:middle;}


@media (hover: hover) { 
    .baseBtn:hover:not(.line):not(.grayLine)>.base{background-color:var(--hover);}
}

/* Color */
.c_Point {color:var(--primary) !important}
.c_Scndary {color:var(--second) !important}
.c_Red {color:#FF2B23 !important;}
.c_Blue {color:#0075D2 !important;}
.c_Black {color:#000 !important;}
.c_White {color:#fff !important;}
.c_Gray {color:#666 !important;}
.txtList.hyphen>li.c_Gray::before{background-color:#666 !important;}

/* input */
.inputBase{position:relative;width:100%;height:40px;padding:0 14px;box-sizing:border-box;border:1px solid #C6C6C6;font-size:15px;letter-spacing:0;background:transparent;border-radius:4px;background-color:#fff;}
.inputBase.discord{border-color: var(--danger);outline: none;}
.inputBase.discord:focus{border-color: var(--danger);outline: none;}
.inputBase:focus {border-color:var(--primary);outline:none; }
.inputBase::placeholder {-webkit-text-fill-color: currentcolor;opacity: 1;-webkit-opacity: 1;color:#646A7A}
.inputBase:disabled{background-color:#ECEFF5;color:#8E8E8E;-webkit-text-fill-color: #8E8E8E;opacity: 1;-webkit-opacity: 1;border:1px solid #D4D8E3;}
.inputBase[readonly]{background-color:#ECEFF5 !important;border:1px solid #D4D8E3 !important;}
.inputBase[readonly]::placeholder,
.inputBase:disabled::placeholder {color:#666;;-webkit-text-fill-color: #8E8E8E;opacity: 1;-webkit-opacity: 1;}
input:focus::placeholder {color: transparent !important;}

.inputBase.w75 {max-width: 75px;}
.inputBase.w105 {max-width: 120px;}
.inputBase.w120 {max-width: 120px;}
.inputBase.w180 {max-width: 180px;}
.inputBase.full {max-width:100% !important;}
.inputBase.half {max-width:50% !important;}
.inputBase.w150 {max-width:150px !important;}
.inputBase.w200 {max-width:200px !important;}
.inputBase.w250 {max-width:250px !important;}
.inputBase.w300 {max-width:300px !important;}


.formInput{font-size:0;width:100%;display:block;}
.formInput>.guide{display:flex;justify-content: space-between;align-items:flex-end;margin-bottom:8px;flex-wrap: wrap;}
.formInput>.guide .tit {font-size: 15px;font-weight:700;line-height:18px;}
.formInput>.guide .tit.need::after{content:"*";display:inline-block;vertical-align:baseline;margin-left:0px;color:var(--primary);}
.formInput>.guide .inform {flex:1;font-size:14px;color:#8897B0;font-weight: 500;text-align: right;}
.formInput>.validation{margin-top:1px;font-size:14px;line-height:24px;letter-spacing:0;color:var(--gray4);text-align: left;}
.formInput>.byte{text-align:right;margin-top:1px;font-size:14px;line-height:24px;color:var(--gray4)}
.formInput>.byte>.val{display:inline-block;color: var(--black);}
.formInput>.byte>.total{color:inherit;font-size:inherit;margin-bottom:inherit;}
.formInput .exclam {width:100%;}
.formInput.rowItem{display:flex;align-items:center;}
.formInput.rowItem .guide{width:82px;flex-shrink:0;}

.formInput .status{margin-top:8px;}
.status{font-size:13px;line-height:150%;display:block;padding-left:24px;background-repeat:no-repeat;background-position:left top 2px;}
.status.danger{color:var(--danger);background-image:url(../img/common/icon_danger.svg);}
.status.warning{color:var(--warning);background-image:url(../img/common/icon_warning.svg);}
.status.success{color:var(--success);background-image:url(../img/common/icon_success.svg);}
.status.information{color:var(--information);background-image:url(../img/common/icon_information.svg);}

.inputTextarea{width:100%;height:auto;padding:11px 14px;font-size:15px;line-height:24px;resize:none;box-sizing:border-box;border:1px solid #C6C6C6;background:transparent;border-radius: 8px;background-color:#fff;}
.inputTextarea:focus {border-color:var(--primary);outline:none; }
.inputTextarea::placeholder {-webkit-text-fill-color: currentcolor;opacity: 1;color:#666}
.inputTextarea[readonly]{background-color:#ECEFF5;border:1px solid #D4D8E3;}
.inputTextarea:disabled{background-color:#ECEFF5;color:#8E8E8E;-webkit-text-fill-color: #8E8E8E;opacity: 1;-webkit-opacity: 1;border:1px solid #D4D8E3;}
.inputTextarea[readonly]::placeholder,
.inputTextarea:disabled:placeholder {color:#666;;-webkit-text-fill-color: #8E8E8E;opacity: 1;-webkit-opacity: 1;}
.inputTextarea:focus::placeholder {color: transparent !important;-webkit-text-fill-color: currentcolor;opacity: 1;}

.addFile{display:flex;align-items:center;}
.addFile:nth-of-type(n+2){margin-top:15px;}
.addFile .inqArea{position:relative;flex:1;}
.addFile .inqArea .inputBase{padding-right:70px;}
.addFile .inqArea .fileDel{position:absolute;right:14px;top:9px;}
.addFile .inqArea .fileDel>.base{font-size:14px;display:inline-block;padding-left:16px;background:url(../img/common/icon_fileDel.svg) no-repeat left center;}
.addFile .baseBtn{margin-left:8px;flex-shrink:0;}
.addFile .baseBtn>.base{min-width:100px;width:100px;padding:0;}

input::-webkit-inner-spin-button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}

/* selectBox */
.selectBase{position:relative;display:inline-block;width:100%;height:40px;padding:0 35px 0 14px;font-size:15px;box-sizing:border-box;text-align:left;background-color:transparent;border:1px solid #C6C6C6;-webkit-appearance: none; /* 네이티브 외형 감추기 */-moz-appearance: none;appearance: none;background-image:url(../img/common/icon_select_arrB.svg);background-position: top 50% right 16px;background-repeat: no-repeat;vertical-align: middle;border-radius:4px;background-color:#fff;}
.selectBase:focus {border-color:var(--primary);outline:none; }
.selectBase::-ms-expand {display: none;}/* IE 10, 11의 네이티브 화살표 숨기기 */
.selectBase::placeholder {-webkit-text-fill-color: currentcolor;opacity: 1;color:#646A7A;}
.selectBase option {color:#000} 
.selectBase:disabled {background-color: #ECEFF5;color:#646A7A;opacity: 1;-webkit-text-fill-color: currentcolor;opacity: 1;border:1px solid #D4D8E3;}
.selectBase[readonly] {background-color: #ECEFF5;/*color:#8E8E8E;*/opacity: 1;-webkit-text-fill-color: currentcolor;opacity: 1;}
.selectBase.full {max-width:100% !important;}
.selectBase.half {max-width:50% !important;}
.selectBase.w150 {max-width:150px !important;}
.selectBase.w200 {max-width:200px !important;}
.selectBase.w250 {max-width:250px !important;}
.selectBase.w300 {max-width:300px !important;}

/* checkBox */
.inputBox{position:relative;width:auto;display:inline-block;margin-right:40px;vertical-align:top;cursor:pointer;font-size: 0;}
.inputBox .info {padding-left:28px;font-size: 14px;color:#717171;font-weight: 500;}
.inputBox>input{position:absolute;left:0px;top:3px;width:24px;height:24px;z-index:0;}
.inputBox>input:focus{width:26px;height:24px;top:3px;left:-1px;}
.inputBox>.data{position:relative;display:inline-block;min-height:24px;font-size:15px;line-height:21px;padding-left:28px;z-index:1;padding-top:2px;}
.inputBox>input[type=checkbox] + .data{background:url(../img/common/icon_checkOff.svg) no-repeat left top 3px/20px auto;}
.inputBox>input[type=checkbox]:checked + .data{background:url(../img/common/icon_checkOn.svg) no-repeat left top 3px/20px auto;}
.inputBox>input[type=checkbox]:checked:disabled + .data{background:url(../img/common/icon_checkDis.svg) no-repeat left top 3px/20px auto !important;color:#8E8E8E;}
.inputBox>input[type=checkbox]:disabled + .data{background:url(../img/common/icon_checkDisUn.svg) no-repeat left top 3px/20px auto !important;color:#8E8E8E;}
.inputBox>input[type=checkbox]:disabled ~ .info{color:#8e8e8e;}

.inputBox.box>.data{font-size:14px;min-height:27px;}
.inputBox.box>input[type=checkbox] + .data{background-image:url(../img/common/ico_radio_sch_line_off.svg);}
.inputBox.box>input[type=checkbox]:checked + .data{background-image:url(../img/common/ico_radio_sch_line_on.svg);}

.inputBox>input[type=radio] + .data{background:url(../img/common/icon_radioOff.svg) no-repeat left top 3px/20px auto;}
.inputBox>input[type=radio]:checked + .data{background:url(../img/common/icon_radioOn.svg) no-repeat left top 3px/20px auto;}
.inputBox>input[type=radio]:checked:disabled + .data{background:url(../img/common/icon_radioDis.svg) no-repeat left top 3px/20px auto !important;color:#8E8E8E;}
.inputBox>input[type=radio]:disabled + .data{background:url(../img/common/icon_radioDisUn.svg) no-repeat left top 3px/20px auto !important;color:#8E8E8E;}
.inputBox>input[type=radio]:disabled ~ .info{color:#8e8e8e;}

.inputBox.only {margin-right: 0;}
.inputBox.only>.data {padding-left:24px;}

/* Pagination */ 
.numberPagination{width:100%;font-size:0;text-align:center;margin-top:30px;}
.numberPagination>button{position:relative;display:inline-block;vertical-align:middle;height:21px;}
.numberPagination>button.first{width:16px;background:url(../img/common/icon_pagingFirst.svg) no-repeat center;}
.numberPagination>button.prev{width:10px;background:url(../img/common/icon_pagingPrev.svg) no-repeat center;margin-left:24px;}
.numberPagination>button.next{width:10px;background:url(../img/common/icon_pagingNext.svg) no-repeat center;margin-right:24px;}
.numberPagination>button.last{width:16px;background:url(../img/common/icon_pagingLast.svg) no-repeat center;}
.numberPagination>.paging{font-size:0;display:inline-block;vertical-align:middle;margin:0 23px;}
.numberPagination>.paging>li{display:inline-block;vertical-align:middle;margin:0 5px;}
.numberPagination>.paging>li>button{position:relative;display:block;min-width:32px;height:32px;font-size:16px;line-height:24px;padding:0 10px;text-align:center;transition:all 0.2s;border-radius: 8px;color:#666;}
.numberPagination>.paging>li>button:hover,
.numberPagination>.paging>li>button.on{background:#212736;color:#fff;}
.numberPagination>.paging>li.pagingDot{background:url(../img/common/icon_pagingDot.svg) no-repeat center center;width:14px;height:21px;}
.numberPagination>button[readonly] {pointer-events: none;opacity: .3;cursor: default;}

.numberIndex{display:inline-block;padding:4px 18px;vertical-align:top;font-size:0;background:#707070;border-radius: 30px;}
.numberIndex>.paging{display:inline-block;vertical-align:middle;margin:0;font-size:18px;line-height:24px;color:rgba(255,255,255,0.6)}
.numberIndex>.paging .active{color:#fff}

.dotPagination{width:100%;font-size:0;text-align:left;}
.dotPagination>.paging{font-size:0;display:inline-block;vertical-align:middle;}
.dotPagination>.paging>li{display:inline-block;vertical-align:middle;margin-right:12px;}
.dotPagination>.paging>li:last-of-type{margin-right:0;}
.dotPagination>.paging>li>button{width:12px;height:12px;display:block;border-radius:50%;background-color:#D1D1D1;}
.dotPagination>.paging>li>button.on{background:#000;}

.dotPagination>.autoStatus{display:inline-block;vertical-align:middle;height:21px;width:20px;margin-left:6px;}
/* .dotPagination>.autoStatus.stop{background:url(../images/common/icon_pagingStop.svg) no-repeat center center/6px auto;}
.dotPagination>.autoStatus.play{background:url(../images/common/icon_pagingPlay.svg) no-repeat center center/10px auto;} */

/* 검색 폼 */
.searchFrom{width:100%;height:auto;padding:30px 50px;background-color:#F4F4F4;font-size:0;margin-bottom:80px;}
.searchFrom .selectBase{max-width:280px;vertical-align:middle;}
.searchFrom .baseBtn.large{width:160px;vertical-align:middle;}
.searchFrom .inputBase{margin:0 10px 0 5px; width:calc(100% - 455px);vertical-align:middle;}

/* datepicker */
.picker_txt {display:inline-block;padding-left:5px;vertical-align:top;line-height:50px;text-align:center;}
.date-picker .prev-but,
.date-picker .next-but {font-size:18px !important;}
.ui-datepicker td a {padding:0 !important;font-size:12px !important;text-align:center !important;letter-spacing:-1px !important;}
.date {font-family: 'Roboto', sans-serif;font-weight: 400;}


/* TAB */
.pageTitleArea+.pageTabBase {margin-top:8px;}
.pageTabBase {position:relative;margin-bottom:38px;border-radius: 2px;} 
.pageTabBase{height:auto;font-size:0;}
.pageTabBase .tabList {display:flex;width:100%;height:auto;font-size:0;padding-top:1px;padding-left:1px;}
.pageTabBase .tabList>li {flex:1;display:inline-table;position:relative;table-layout:fixed;border-collapse:collapse;box-sizing:border-box;vertical-align:top;transition:all 0.1s;margin-left:-1px;width:calc(100% + 1px);margin-top:-1px;}
.pageTabBase .tabList>li:first-child a {border-top-left-radius:8px;border-bottom-left-radius:8px;}
.pageTabBase .tabList>li:last-child a {border-top-right-radius:8px;border-bottom-right-radius:8px;}
.pageTabBase .tabList>li a {position:relative;display:flex;justify-content: center;align-items: center;position:relative;width:100%;height:60px;box-sizing:border-box;padding:0 15px;font-size:18px;font-weight:400;line-height:21px;text-align:center;letter-spacing:0px;vertical-align:middle;transition:background-color 0.1s;z-index:1;font-weight: 500;background:#DFE3EC;}
.pageTabBase .tabList>li.on a {background-color:var(--primary);color:#fff;font-weight:bold;}
.pageTabBase .tabList>li.on a:before  {content:'';display:block;position:absolute;left:50%;bottom:-10px;margin-left:-8px;width:16px;height:10px;background:url(../images/common/ico_tab_arrB.svg) no-repeat;z-index: 10;}


@media (hover: hover) { 
    .pageTabBase .tabList>li:hover a:before {content:'';display:block;position:absolute;left:50%;bottom:-10px;margin-left:-8px;width:16px;height:10px;background:url(../images/common/ico_tab_arrB.svg) no-repeat;z-index: 10;}
    .pageTabBase .tabList>li:hover a{background-color:var(--primary);color:#fff;font-weight:bold;}
}
.contTabBase {margin-bottom:30px;background-color:#BFC1C4;} 
.contTabBase{height:auto;font-size:0;}
.contTabBase .tabList {display:flex;width:100%;height:auto;font-size:0;padding-top:1px;padding-left:1px;}
.contTabBase .tabList>li {flex:1;display:inline-table;position:relative;table-layout:fixed;border-collapse:collapse;box-sizing:border-box;vertical-align:top;transition:all 0.1s;margin-top:-1px;}
.contTabBase .tabList>li+li {margin-left:1px;}
/* .contTabBase .tabList>li:first-child a {border-top-left-radius:8x;border-bottom-left-radius:8px;}
.contTabBase .tabList>li:last-child a {border-top-right-radius:8px;border-bottom-right-radius:8px;} */
.contTabBase .tabList>li a {position:relative;display:flex;justify-content: center;align-items: center;position:relative;width:100%;height:53px;box-sizing:border-box;padding:0 15px;font-size:16px;font-weight:450;line-height:21px;text-align:center;letter-spacing:0px;vertical-align:middle;transition:background-color 0.1s;z-index:1;font-weight: 500;background:#D7DCE3;}
.contTabBase .tabList>li.on a {background-color:#fff;color:var(--primary);font-weight:bold;border-top-left-radius:0px;border-top-right-radius:0px;}
.contTabBase .tabList>li.on a:before  {content:'';display:block;position:absolute;width:100%;height:3px;background:var(--primary);top:0;left:0;}
.pop_wrap .contTabBase .tabList>li.on a {background:#fff;}

@media (hover: hover) { 
    .contTabBase .tabList>li:hover a {background-color:#fff;color:var(--primary);font-weight:bold;}
    .contTabBase .tabList>li:hover a:before  {content:'';display:block;position:absolute;width:100%;height:3px;background:var(--primary);top:0;left:0;}
}

.yScroll{overflow-y:auto;}

/*table*/
.contTable{position:relative;width:100%;height:auto;border-top:1px solid #646A7A;}
.contTable.typeScroll {overflow-x:auto;}
.contTable.line thead {border-left:1px solid #D4D8E3;border-right: 1px solid #D4D8E3;}
.contTable.line tbody {border-left:1px solid #D4D8E3;border-right: 1px solid #D4D8E3;}
.contTable table{width:100%;table-layout:fixed;border-collapse:collapse}
.contTable.auto table{table-layout:auto;}
.contTable table th{font-size:15px;font-weight:700;line-height:22px;height:44px;text-align:center;padding:12px 12px;border-right:1px solid #D4D8E3;background-color:#F2F5F9;word-break: break-word;}
.contTable table tbody td,
.contTable table tfoot td{font-size:15px;color:#111;line-height:22px;height:44px;text-align:center;padding:12px 12px;border-right:1px solid #D4D8E3;background:#fff;font-weight: 500;word-break: break-word;}
.contTable table thead th:last-of-type,
.contTable table tbody td:last-of-type,
.contTable table tfoot td:last-of-type{border-right:0;}

.contTable table thead th[colspan],
.contTable table thead th[rowspan],
.contTable table tbody td[colspan],
.contTable table tbody td[rowspan],
.contTable table tfoot td[colspan],
.contTable table tfoot td[rowspan]{border-left:1px solid #D4D8E3;}

.contTable table thead th[colspan]:last-of-type,
.contTable table thead th[rowspan]:last-of-type,
.contTable table tbody td[colspan]:last-of-type,
.contTable table tbody td[rowspan]:last-of-type,
.contTable table tfoot td[colspan]:last-of-type,
.contTable table tfoot td[rowspan]:last-of-type{border-right:0;border-left:1px solid #D4D8E3;}
.contTable table thead th[colspan]:last-of-type:first-of-type {border-left:0;}

.contTable table thead th[colspan]:first-of-type,
.contTable table thead th[rowspan]:first-of-type,
.contTable table tbody td[colspan]:first-of-type,
.contTable table tbody td[rowspan]:first-of-type,
.contTable table tfoot td[colspan]:first-of-type,
.contTable table tfoot td[rowspan]:first-of-type{border-left:0;}

.contTable table tbody th {text-align:center;padding-left:25px;padding-right:10px;}
.contTable table th .need {position:relative;padding-left:15px;display:inline-block;vertical-align: top;font-size: inherit;font-weight: inherit;}
.contTable table th .need:before {content:'';display:block;width:6px;height:6px;border-radius: 50%;background:var(--primary);position:absolute;left:0;top:11px;}
.contTable table thead tr,
.contTable table tbody tr,
.contTable table tfoot tr{border-bottom:1px solid #D4D8E3;}
.contTable table tbody tr:hover td{background-color:#F2F7FF;}

.contTable .mSort {display:none;}
.contTable .noArticle {border:0 !important;background:none !important;border-bottom: 1px solid #d1d1d1 !important;}
.contTable.mbRow2 table tbody .noArticle {border-radius: 0;}
.contTable.mbRow2 table tbody .noArticle td {border-left:0 !important;background-attachment: transparent;}
.contTable.mbRow table tbody .noArticle {border-radius: 0;}
.contTable.mbRow table tbody .noArticle td {border-left:0 !important;background:transparent}
 
.tableTouchArea{position:absolute;background-color:rgba(0,0,0,0.6);width:100%;height:100%;left:0;top:0;z-index:1;}
.tableTouchArea .tableScrollTouch{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); width:160px;height:90px;background:url(../img/common/icon_tableTouch.svg) no-repeat left 40px top 0;opacity:1;}
.tableTouchArea .tableScrollTouch span {display:block;padding-top:60px;font-size: 16px;font-weight: 700;color:#fff;}


/* 컨텐츠 탭 */
.contTab_Group{width:100%;}
.contTab_Group .contTab{display:none;}
.contTab_Group .contTab.on{display:block;}

/* Content */
.no_article {width:100%;height:auto;padding:160px 0 64px 0;font-size:15px;line-height:30px;background:url(../img/common/ico_noAritlce.svg) no-repeat left 50% top 64px;;text-align:center;color:#646A7A;font-weight: 500;}
p.exclam {margin-top:15px;font-size:16px;color:var(--gray4);padding-left:25px;background:url(../images/common/ico_exclam.svg) no-repeat top 2px left 0 ;}

.icoBoxWrap {position:relative;}
.ico_tglNoti {display:block;width:20px;height:20px;background:url(../images/common/ico_notiToggle.svg) no-repeat center}
.icoBoxNotice {padding:26px 50px 26px 100px;margin-bottom: 32px;background:#DFE3EC url(../images/common/ico_boxNotice.svg) no-repeat top 30px left 32px;border-radius: 10px;}
.icoBoxNotice p {font-weight: 500;}
.icoBoxNotice .txtList>li {font-weight: 500;font-size: 16px !important;}
.icoBoxNotice .txtList>li+li {margin-top:2px;}

.pageTitleArea .ico_tglNoti {position:absolute;right:0;bottom:0;display:none;}
.pageTitleArea .icoBoxNotice {margin-top:14px;}
.pageTitleArea .icoBoxNotice.on {display:block;}
.pageTitleArea .icoBoxNotice:before {content:'';display:block;position:absolute;width:20px;height:14px;left:50px;top:-14px;background:url(../images/common/ico_notiToggle_top.svg) no-repeat center;display:none}

input[type="date"] {text-align: left !important;}
input::-webkit-date-and-time-value {
    text-align: left;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { display: none;} 
input[type="date"]::-webkit-calendar-picker-indicator {background: transparent;z-index: 1;} 
input[type="date"]::after{position: absolute;top:50%;right:10px;content: '';width: 17px;height:17px;background:url(../img/common/icon_date.svg) no-repeat center;transform: translateY(-50%);z-index: 0;}


@media only screen and (max-width:1041px){
    *{-webkit-tap-highlight-color:transparent;}
}


/* pop 공통 */
.pop_iframe {display:none;position:fixed !important;left:0;top:0;width:100%;height:100%;z-index:2000;}
.pop_iframe.on {display:block;}

.pop_wrap{background-color:rgba(0,0,0,0.5) !important;position:fixed;top:0;left:0;width:100%;height:100%;z-index:3000;display:none;align-items:center;justify-content: center;overscroll-behavior: none none;}
.pop_wrap.on {display:flex;}
.popLayout{position:relative;background:#fff;z-index:1100;padding:40px;opacity:0;width:90%;overscroll-behavior: none none;width:640px;max-width:90%;border-radius:16px;overflow:hidden;top:50px;transition:all 0.3s;}
/* .pop_wrap.on .popLayout {opacity:1;top:0;} */
.popLayout .popTit{font-size:24px;font-weight:bold;letter-spacing:0;line-height:36px;color:#111;margin-bottom:17px;}
.popLayout .popConts~.btn_popClose {display:block;position:absolute;right:40px;top:45px;overflow:hidden;width:20px;height:20px;}
.popLayout .popConts~.btn_popClose::before{content:"";position:absolute;display:block;width:100%;height:2px;background-color:#000;transform:rotate(45deg);transform-origin:center center;}
.popLayout .popConts~.btn_popClose::after {content:"";position:absolute;display:block;width:100%;height:2px;background-color:#000;transform:rotate(-45deg);transform-origin:center center;}
.popLayout .popConts~.btn_popClose>span {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}

.popLayout .popConts .popInner {max-height: calc(100vh - 260px);overscroll-behavior: none none;overflow-y: auto;}
.popLayout .popConts .popInner.limit {overflow-x:hidden;overflow-y:auto;}
.popLayout .popConts .popInner .msg{font-size:18px;line-height:150%;color:#000;}
.popLayout .popConts .popBtnArea{position:relative;text-align:center;padding-top:40px;font-size:0;padding-left:24px;padding-right: 24px;}
.popLayout .popConts .popBtnArea>button,
.popLayout .popConts .popBtnArea>a{margin:0 4px;vertical-align:middle;}

.pop_wrap .contTit1{font-size:22px;font-weight:bold;}

.pop_wrap.type2 .popTit{font-size:36px;line-height:42px;text-align:center;border-bottom:1px solid #D4D8E3;padding-bottom:28px;}
.pop_wrap.type2 .popLayout .popConts .popInner{padding-top:28px;}

.typeWindow.pop_wrap {display:block;background:none !important;}
.typeWindow.pop_wrap .popLayout {opacity:1;width:100% !important;max-width: 100% !important;border-radius:0;top:0;}
.typeWindow.pop_wrap .popLayout .popConts .popInner {max-height: calc(100vh - 190px);max-height: calc(100dvh - 190px);}

.pop_pwCheck .formInput>.guide{margin-bottom:20px;}
.pop_pwCheck .baseBtn.medium>.base{min-width:76px;}
.pop_pwCheck .popLayout .popConts .popBtnArea {display:flex;padding-left:0;padding-right: 0;}

.pop_wrap .noticePopArea{display:inline-block;padding:0 20px;}
.pop_wrap .noticePopArea .popupGorup{display:inline-flex;flex-wrap:wrap;}
.pop_wrap .noticePopArea .popLayout{margin:0 20px;width:auto !important;flex:1;max-width:480px;}
.pop_wrap .noticePopArea .popupTopArea{width:100%;padding:0 20px;margin-bottom:16px;text-align:right;}
.pop_wrap .noticePopArea .popupTopArea .inputBox{display:inline-block;margin-right:0;vertical-align:middle;}
.pop_wrap .noticePopArea .popupTopArea .inputBox.box>.data{color:#fff;}
.pop_wrap .noticePopArea .popupTopArea .noticePopClosed{display:inline-block;position:relative;width:24px;height:24px;vertical-align:middle;margin-left:4px;}
.pop_wrap .noticePopArea .popupTopArea .noticePopClosed::before{content:"";position:absolute;display:block;width:100%;height:2px;background-color:#fff;transform:rotate(45deg);transform-origin:center center;}
.pop_wrap .noticePopArea .popupTopArea .noticePopClosed::after {content:"";position:absolute;display:block;width:100%;height:2px;background-color:#fff;transform:rotate(-45deg);transform-origin:center center;}

.pop_wrap .division + .division{margin-top:30px;}
.pop_wrap .division .contTit1{margin-bottom:12px;}
/* 팝업전용 미디어쿼리 */
@media only screen and (max-width:1041px){
    
}

/*** Component ***/
.codeView{background-color:#000;color:#fff;padding:0px 20px 20px 20px;}
.txtL {text-align:left !important;}
.txtC {text-align:center !important;}
.txtR {text-align:right !important;}

.fL {float:left !important;}
.fR {float:right !important;}
.cB {clear:both !important;}
.cB::after{content:"";display: block;clear: both;}

.mT0 {margin-top:0px !important;}
.mT1 {margin-top:1px !important;}
.mT2 {margin-top:2px !important;}
.mT3 {margin-top:3px !important;}
.mT4 {margin-top:4px !important;}
.mT5 {margin-top:5px !important;}
.mT6 {margin-top:6px !important;}
.mT7 {margin-top:7px !important;}
.mT8 {margin-top:8px !important;}
.mT9 {margin-top:9px !important;}
.mT10 {margin-top:10px !important;}
.mT11 {margin-top:11px !important;}
.mT12 {margin-top:12px !important;}
.mT13 {margin-top:13px !important;}
.mT14 {margin-top:14px !important;}
.mT15 {margin-top:15px !important;}
.mT16 {margin-top:16px !important;}
.mT17 {margin-top:17px !important;}
.mT18 {margin-top:18px !important;}
.mT19 {margin-top:19px !important;}
.mT20 {margin-top:20px !important;}
.mT21 {margin-top:21px !important;}
.mT22 {margin-top:22px !important;}
.mT23 {margin-top:23px !important;}
.mT24 {margin-top:24px !important;}
.mT25 {margin-top:25px !important;}
.mT26 {margin-top:26px !important;}
.mT27 {margin-top:27px !important;}
.mT28 {margin-top:28px !important;}
.mT29 {margin-top:29px !important;}
.mT30 {margin-top:30px !important;}
.mT35 {margin-top:35px !important;}
.mT40 {margin-top:40px !important;}
.mT45 {margin-top:45px !important;}
.mT50 {margin-top:50px !important;}
.mT70 {margin-top:70px !important;}
.mT80 {margin-top:80px !important;}
.mT120 {margin-top:120px !important;}

.mR0 {margin-right:0px !important;}
.mR1 {margin-right:1px !important;}
.mR2 {margin-right:2px !important;}
.mR3 {margin-right:3px !important;}
.mR4 {margin-right:4px !important;}
.mR5 {margin-right:5px !important;}
.mR6 {margin-right:6px !important;}
.mR7 {margin-right:7px !important;}
.mR8 {margin-right:8px !important;}
.mR9 {margin-right:9px !important;}
.mR10 {margin-right:10px !important;}
.mR11 {margin-right:11px !important;}
.mR12 {margin-right:12px !important;}
.mR13 {margin-right:13px !important;}
.mR14 {margin-right:14px !important;}
.mR15 {margin-right:15px !important;}
.mR16 {margin-right:16px !important;}
.mR17 {margin-right:17px !important;}
.mR18 {margin-right:18px !important;}
.mR19 {margin-right:19px !important;}
.mR20 {margin-right:20px !important;}
.mR21 {margin-right:21px !important;}
.mR22 {margin-right:22px !important;}
.mR23 {margin-right:23px !important;}
.mR24 {margin-right:24px !important;}
.mR25 {margin-right:25px !important;}
.mR26 {margin-right:26px !important;}
.mR27 {margin-right:27px !important;}
.mR28 {margin-right:28px !important;}
.mR29 {margin-right:29px !important;}
.mR30 {margin-right:30px !important;}
.mR35 {margin-right:35px !important;}
.mR40 {margin-right:40px !important;}
.mR45 {margin-right:45px !important;}
.mR50 {margin-right:50px !important;}

.mB0 {margin-bottom:0px !important;}
.mB1 {margin-bottom:1px !important;}
.mB2 {margin-bottom:2px !important;}
.mB3 {margin-bottom:3px !important;}
.mB4 {margin-bottom:4px !important;}
.mB5 {margin-bottom:5px !important;}
.mB6 {margin-bottom:6px !important;}
.mB7 {margin-bottom:7px !important;}
.mB8 {margin-bottom:8px !important;}
.mB9 {margin-bottom:9px !important;}
.mB10 {margin-bottom:10px !important;}
.mB11 {margin-bottom:11px !important;}
.mB12 {margin-bottom:12px !important;}
.mB13 {margin-bottom:13px !important;}
.mB14 {margin-bottom:14px !important;}
.mB15 {margin-bottom:15px !important;}
.mB16 {margin-bottom:16px !important;}
.mB17 {margin-bottom:17px !important;}
.mB18 {margin-bottom:18px !important;}
.mB19 {margin-bottom:19px !important;}
.mB20 {margin-bottom:20px !important;}
.mB21 {margin-bottom:21px !important;}
.mB22 {margin-bottom:22px !important;}
.mB23 {margin-bottom:23px !important;}
.mB24 {margin-bottom:24px !important;}
.mB25 {margin-bottom:25px !important;}
.mB26 {margin-bottom:26px !important;}
.mB27 {margin-bottom:27px !important;}
.mB28 {margin-bottom:28px !important;}
.mB29 {margin-bottom:29px !important;}
.mB30 {margin-bottom:30px !important;}
.mB35 {margin-bottom:35px !important;}
.mB40 {margin-bottom:40px !important;}
.mB45 {margin-bottom:45px !important;}
.mB50 {margin-bottom:50px !important;}
.mB70 {margin-bottom:70px !important;}

.mL0 {margin-left:0px !important;}
.mL1 {margin-left:1px !important;}
.mL2 {margin-left:2px !important;}
.mL3 {margin-left:3px !important;}
.mL4 {margin-left:4px !important;}
.mL5 {margin-left:5px !important;}
.mL6 {margin-left:6px !important;}
.mL7 {margin-left:7px !important;}
.mL8 {margin-left:8px !important;}
.mL9 {margin-left:9px !important;}
.mL10 {margin-left:10px !important;}
.mL11 {margin-left:11px !important;}
.mL12 {margin-left:12px !important;}
.mL13 {margin-left:13px !important;}
.mL14 {margin-left:14px !important;}
.mL15 {margin-left:15px !important;}
.mL16 {margin-left:16px !important;}
.mL17 {margin-left:17px !important;}
.mL18 {margin-left:18px !important;}
.mL19 {margin-left:19px !important;}
.mL20 {margin-left:20px !important;}
.mL21 {margin-left:21px !important;}
.mL22 {margin-left:22px !important;}
.mL23 {margin-left:23px !important;}
.mL24 {margin-left:24px !important;}
.mL25 {margin-left:25px !important;}
.mL26 {margin-left:26px !important;}
.mL27 {margin-left:27px !important;}
.mL28 {margin-left:28px !important;}
.mL29 {margin-left:29px !important;}
.mL30 {margin-left:30px !important;}
.mL35 {margin-left:35px !important;}
.mL40 {margin-left:40px !important;}
.mL45 {margin-left:45px !important;}
.mL50 {margin-left:50px !important;}

.pT0 {padding-top:0px !important;}
.pT1 {padding-top:1px !important;}
.pT2 {padding-top:2px !important;}
.pT3 {padding-top:3px !important;}
.pT4 {padding-top:4px !important;}
.pT5 {padding-top:5px !important;}
.pT6 {padding-top:6px !important;}
.pT7 {padding-top:7px !important;}
.pT8 {padding-top:8px !important;}
.pT9 {padding-top:9px !important;}
.pT10 {padding-top:10px !important;}
.pT11 {padding-top:11px !important;}
.pT12 {padding-top:12px !important;}
.pT13 {padding-top:13px !important;}
.pT14 {padding-top:14px !important;}
.pT15 {padding-top:15px !important;}
.pT16 {padding-top:16px !important;}
.pT17 {padding-top:17px !important;}
.pT18 {padding-top:18px !important;}
.pT19 {padding-top:19px !important;}
.pT20 {padding-top:20px !important;}
.pT21 {padding-top:21px !important;}
.pT22 {padding-top:22px !important;}
.pT23 {padding-top:23px !important;}
.pT24 {padding-top:24px !important;}
.pT25 {padding-top:25px !important;}
.pT26 {padding-top:26px !important;}
.pT27 {padding-top:27px !important;}
.pT28 {padding-top:28px !important;}
.pT29 {padding-top:29px !important;}
.pT30 {padding-top:30px !important;}
.pT35 {padding-top:35px !important;}
.pT40 {padding-top:40px !important;}
.pT45 {padding-top:45px !important;}
.pT50 {padding-top:50px !important;}

.pR0 {padding-right:0px !important;}
.pR1 {padding-right:1px !important;}
.pR2 {padding-right:2px !important;}
.pR3 {padding-right:3px !important;}
.pR4 {padding-right:4px !important;}
.pR5 {padding-right:5px !important;}
.pR6 {padding-right:6px !important;}
.pR7 {padding-right:7px !important;}
.pR8 {padding-right:8px !important;}
.pR9 {padding-right:9px !important;}
.pR10 {padding-right:10px !important;}
.pR11 {padding-right:11px !important;}
.pR12 {padding-right:12px !important;}
.pR13 {padding-right:13px !important;}
.pR14 {padding-right:14px !important;}
.pR15 {padding-right:15px !important;}
.pR16 {padding-right:16px !important;}
.pR17 {padding-right:17px !important;}
.pR18 {padding-right:18px !important;}
.pR19 {padding-right:19px !important;}
.pR20 {padding-right:20px !important;}
.pR21 {padding-right:21px !important;}
.pR22 {padding-right:22px !important;}
.pR23 {padding-right:23px !important;}
.pR24 {padding-right:24px !important;}
.pR25 {padding-right:25px !important;}
.pR26 {padding-right:26px !important;}
.pR27 {padding-right:27px !important;}
.pR28 {padding-right:28px !important;}
.pR29 {padding-right:29px !important;}
.pR30 {padding-right:30px !important;}
.pR35 {padding-right:35px !important;}
.pR40 {padding-right:40px !important;}
.pR45 {padding-right:45px !important;}
.pR50 {padding-right:50px !important;}

.pB0 {padding-bottom:0px !important;}
.pB1 {padding-bottom:1px !important;}
.pB2 {padding-bottom:2px !important;}
.pB3 {padding-bottom:3px !important;}
.pB4 {padding-bottom:4px !important;}
.pB5 {padding-bottom:5px !important;}
.pB6 {padding-bottom:6px !important;}
.pB7 {padding-bottom:7px !important;}
.pB8 {padding-bottom:8px !important;}
.pB9 {padding-bottom:9px !important;}
.pB10 {padding-bottom:10px !important;}
.pB11 {padding-bottom:11px !important;}
.pB12 {padding-bottom:12px !important;}
.pB13 {padding-bottom:13px !important;}
.pB14 {padding-bottom:14px !important;}
.pB15 {padding-bottom:15px !important;}
.pB16 {padding-bottom:16px !important;}
.pB17 {padding-bottom:17px !important;}
.pB18 {padding-bottom:18px !important;}
.pB19 {padding-bottom:19px !important;}
.pB20 {padding-bottom:20px !important;}
.pB21 {padding-bottom:21px !important;}
.pB22 {padding-bottom:22px !important;}
.pB23 {padding-bottom:23px !important;}
.pB24 {padding-bottom:24px !important;}
.pB25 {padding-bottom:25px !important;}
.pB26 {padding-bottom:26px !important;}
.pB27 {padding-bottom:27px !important;}
.pB28 {padding-bottom:28px !important;}
.pB29 {padding-bottom:29px !important;}
.pB30 {padding-bottom:30px !important;}
.pB35 {padding-bottom:35px !important;}
.pB40 {padding-bottom:40px !important;}
.pB45 {padding-bottom:45px !important;}
.pB50 {padding-bottom:50px !important;}

.pL0 {padding-left:0px !important;}
.pL1 {padding-left:1px !important;}
.pL2 {padding-left:2px !important;}
.pL3 {padding-left:3px !important;}
.pL4 {padding-left:4px !important;}
.pL5 {padding-left:5px !important;}
.pL6 {padding-left:6px !important;}
.pL7 {padding-left:7px !important;}
.pL8 {padding-left:8px !important;}
.pL9 {padding-left:9px !important;}
.pL10 {padding-left:10px !important;}
.pL11 {padding-left:11px !important;}
.pL12 {padding-left:12px !important;}
.pL13 {padding-left:13px !important;}
.pL14 {padding-left:14px !important;}
.pL15 {padding-left:15px !important;}
.pL16 {padding-left:16px !important;}
.pL17 {padding-left:17px !important;}
.pL18 {padding-left:18px !important;}
.pL19 {padding-left:19px !important;}
.pL20 {padding-left:20px !important;}
.pL21 {padding-left:21px !important;}
.pL22 {padding-left:22px !important;}
.pL23 {padding-left:23px !important;}
.pL24 {padding-left:24px !important;}
.pL25 {padding-left:25px !important;}
.pL26 {padding-left:26px !important;}
.pL27 {padding-left:27px !important;}
.pL28 {padding-left:28px !important;}
.pL29 {padding-left:29px !important;}
.pL30 {padding-left:30px !important;}
.pL35 {padding-left:35px !important;}
.pL40 {padding-left:40px !important;}
.pL45 {padding-left:45px !important;}
.pL50 {padding-left:50px !important;}

/* duet */
.duet-date *,.duet-date *::before,.duet-date *::after{box-sizing:border-box;margin:0;width:auto}.duet-date{box-sizing:border-box;color:var(--duet-color-text);display:block;font-family:var(--duet-font);margin:0;position:relative;text-align:left;width:100%}.duet-date__input{-webkit-appearance:none;appearance:none;background:var(--duet-color-surface);border:1px solid var(--duet-color-border, var(--duet-color-text));border-radius:var(--duet-radius);color:var(--duet-color-text);float:none;font-family:var(--duet-font);font-size:100%;line-height:normal;padding:14px 60px 14px 14px;width:100%}.duet-date__input:focus{border-color:var(--duet-color-primary);box-shadow:0 0 0 1px var(--duet-color-primary);outline:0}.duet-date__input::-webkit-input-placeholder{color:var(--duet-color-placeholder);opacity:1}.duet-date__input:-moz-placeholder{color:var(--duet-color-placeholder);opacity:1}.duet-date__input:-ms-input-placeholder{color:var(--duet-color-placeholder)}.duet-date__input-wrapper{position:relative;width:100%}.duet-date__toggle{-moz-appearance:none;-webkit-appearance:none;-webkit-user-select:none;align-items:center;appearance:none;background:var(--duet-color-button);border:0;border-radius:0;border-bottom-right-radius:var(--duet-radius);border-top-right-radius:var(--duet-radius);box-shadow:inset 1px 0 0 rgba(0, 0, 0, 0.1);color:var(--duet-color-text);cursor:pointer;display:flex;height:calc(100% - 2px);justify-content:center;padding:0;position:absolute;right:1px;top:1px;user-select:none;width:48px;z-index:2}.duet-date__toggle:focus{box-shadow:0 0 0 2px var(--duet-color-primary);outline:0}.duet-date__toggle-icon{display:flex;flex-basis:100%;justify-content:center;align-items:center}.duet-date__dialog{display:flex;left:0;min-width:320px;opacity:0;position:absolute;top:100%;transform:scale(0.96) translateZ(0) translateY(-20px);transform-origin:top right;transition:transform 300ms ease, opacity 300ms ease, visibility 300ms ease;visibility:hidden;width:100%;will-change:transform, opacity, visibility;z-index:var(--duet-z-index)}@media (max-width: 35.9375em){.duet-date__dialog{background:var(--duet-color-overlay);bottom:0;position:fixed;right:0;top:0;transform:translateZ(0);transform-origin:bottom center}}.duet-date__dialog.is-left{left:auto;right:0;width:auto}.duet-date__dialog.is-active{opacity:1;transform:scale(1.0001) translateZ(0) translateY(0);visibility:visible}.duet-date__dialog-content{background:var(--duet-color-surface);border:1px solid rgba(0, 0, 0, 0.1);border-radius:var(--duet-radius);box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.1);margin-left:auto;margin-top:8px;max-width:310px;min-width:290px;padding:16px 16px 20px;position:relative;transform:none;width:100%;z-index:var(--duet-z-index)}@media (max-width: 35.9375em){.duet-date__dialog-content{border:0;border-radius:0;border-top-left-radius:var(--duet-radius);border-top-right-radius:var(--duet-radius);bottom:0;left:0;margin:0;max-width:none;min-height:26em;opacity:0;padding:0 8% 20px;position:absolute;transform:translateZ(0) translateY(100%);transition:transform 400ms ease, opacity 400ms ease, visibility 400ms ease;visibility:hidden;will-change:transform, opacity, visibility}.is-active .duet-date__dialog-content{opacity:1;transform:translateZ(0) translateY(0);visibility:visible}}.duet-date__table{border-collapse:collapse;border-spacing:0;color:var(--duet-color-text);font-size:1rem;font-weight:var(--duet-font-normal);line-height:1.25;text-align:center;width:100%}.duet-date__table-header{font-size:0.75rem;font-weight:var(--duet-font-bold);letter-spacing:1px;line-height:1.25;padding-bottom:8px;text-decoration:none;text-transform:uppercase}.duet-date__cell{text-align:center}.duet-date__day{-moz-appearance:none;-webkit-appearance:none;appearance:none;background:transparent;border:0;border-radius:50%;color:var(--duet-color-text);cursor:pointer;display:inline-block;font-family:var(--duet-font);font-size:0.875rem;font-variant-numeric:tabular-nums;font-weight:var(--duet-font-normal);height:36px;line-height:1.25;padding:0 0 1px;position:relative;text-align:center;vertical-align:middle;width:36px;z-index:1}.duet-date__day.is-today{box-shadow:0 0 0 1px var(--duet-color-primary);position:relative;z-index:200}.duet-date__day:hover::before,.duet-date__day.is-today::before{background:var(--duet-color-primary);border-radius:50%;bottom:0;content:"";left:0;opacity:0.06;position:absolute;right:0;top:0}.duet-date__day[aria-pressed=true],.duet-date__day:focus{background:var(--duet-color-primary);box-shadow:none;color:var(--duet-color-text-active);outline:0}.duet-date__day:active{background:var(--duet-color-primary);box-shadow:0 0 5px var(--duet-color-primary);color:var(--duet-color-text-active);z-index:200}.duet-date__day:focus{box-shadow:0 0 5px var(--duet-color-primary);z-index:200}.duet-date__day:not(.is-month){box-shadow:none}.duet-date__day:not(.is-month),.duet-date__day[aria-disabled=true]{background:transparent;color:var(--duet-color-text);cursor:default;opacity:0.5}.duet-date__day[aria-disabled=true].is-today{box-shadow:0 0 0 1px var(--duet-color-primary)}.duet-date__day[aria-disabled=true].is-today:focus{box-shadow:0 0 5px var(--duet-color-primary);background:var(--duet-color-primary);color:var(--duet-color-text-active)}.duet-date__day[aria-disabled=true]:not(.is-today)::before{display:none}.duet-date__day.is-outside{background:var(--duet-color-button);box-shadow:none;color:var(--duet-color-text);cursor:default;opacity:0.6;pointer-events:none}.duet-date__day.is-outside::before{display:none}.duet-date__header{align-items:center;display:flex;justify-content:space-between;margin-bottom:16px;width:100%}.duet-date__nav{white-space:nowrap}.duet-date__prev,.duet-date__next{-moz-appearance:none;-webkit-appearance:none;align-items:center;appearance:none;background:var(--duet-color-button);border:0;border-radius:50%;color:var(--duet-color-text);cursor:pointer;display:inline-flex;height:32px;justify-content:center;margin-left:8px;padding:0;transition:background-color 300ms ease;width:32px}@media (max-width: 35.9375em){.duet-date__prev,.duet-date__next{height:40px;width:40px}}.duet-date__prev:focus,.duet-date__next:focus{box-shadow:0 0 0 2px var(--duet-color-primary);outline:0}.duet-date__prev:active:focus,.duet-date__next:active:focus{box-shadow:none}.duet-date__prev:disabled,.duet-date__next:disabled{cursor:default;opacity:0.5}.duet-date__prev svg,.duet-date__next svg{margin:0 auto}.duet-date__select{display:inline-flex;margin-top:4px;position:relative}.duet-date__select span{margin-right:4px}.duet-date__select select{cursor:pointer;font-size:1rem;height:100%;left:0;opacity:0;position:absolute;top:0;width:100%;z-index:2}.duet-date__select select:focus+.duet-date__select-label{box-shadow:0 0 0 2px var(--duet-color-primary)}.duet-date__select-label{align-items:center;border-radius:var(--duet-radius);color:var(--duet-color-text);display:flex;font-size:1.25rem;font-weight:var(--duet-font-bold);line-height:1.25;padding:0 4px 0 8px;pointer-events:none;position:relative;width:100%;z-index:1}.duet-date__select-label svg{width:16px;height:16px}.duet-date__mobile{align-items:center;border-bottom:1px solid rgba(0, 0, 0, 0.12);display:flex;justify-content:space-between;margin-bottom:20px;margin-left:-10%;overflow:hidden;padding:12px 20px;position:relative;text-overflow:ellipsis;white-space:nowrap;width:120%}@media (min-width: 36em){.duet-date__mobile{border:0;margin:0;overflow:visible;padding:0;position:absolute;right:-8px;top:-8px;width:auto}}.duet-date__mobile-heading{display:inline-block;font-weight:var(--duet-font-bold);max-width:84%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}@media (min-width: 36em){.duet-date__mobile-heading{display:none}}.duet-date__close{-webkit-appearance:none;align-items:center;appearance:none;background:var(--duet-color-button);border:0;border-radius:50%;color:var(--duet-color-text);cursor:pointer;display:flex;height:24px;justify-content:center;padding:0;width:24px}@media (min-width: 36em){.duet-date__close{opacity:0}}.duet-date__close:focus{box-shadow:0 0 0 2px var(--duet-color-primary);outline:none}@media (min-width: 36em){.duet-date__close:focus{opacity:1}}.duet-date__close svg{margin:0 auto}.duet-date__vhidden{border:0;clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;padding:0;position:absolute;top:0;width:1px}
